.Modal {
  min-width: 50%;
}
.Overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(248, 248, 248, 0.8);
}

@media screen and (max-width: 780px) {
  .Modal {
    min-width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .Modal {
    min-width: 90%;
  }
}
